.baby_grid{
    display: grid;  
    grid-column-gap: 50px;
    grid-row-gap: 50px;   
}
.concept_container{
    display: grid;  
    grid-column-gap: 10px;
    grid-row-gap: 10px;   
}
.concept{
    margin:20px;
    border:solid 1px black;
    background-color: rgb(197, 194, 194);
}
h1{
    text-align: center;
}
.disclaimer{
    color:red;
    text-align: center;
}
.baby_container img{
    width: 100%;
}
/* .baby_container a{
    
} */
.baby_container{
    font-size:30px;
    padding:15px;
    border:solid 1px black;
    background-color: rgb(197, 194, 194);
    text-align: center;
}
.footer{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    background-color: black;
    text-align: center;
}
.info{
    background-color: rgb(197, 194, 194);
    margin:20px;
    border:solid 2px black;
}
.profile_foto{
    display: flex;
    justify-content: center;
}
.profile_foto img{
    width:300px;

}




@media only screen and (max-width: 400px) {
    .baby_grid{
        grid-template-columns:auto ;
        grid-template-rows:repeat(9,auto);
        }
  }
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .baby_grid{
    grid-template-columns:auto auto;
    grid-template-rows:repeat(5,auto);
    }
    .concept_container{
        grid-template-columns:auto auto;
        grid-template-rows:repeat(2,auto);
    }
}
@media only screen and (min-width: 961px) {
    .baby_grid{
        grid-template-columns:auto auto auto;
        grid-template-rows:repeat(3,auto);
    }
    .concept_container{
        grid-template-columns:auto auto;
        grid-template-rows:repeat(2,auto);
    }
    .baby_container{
        width:100%;
    }
}